; deployment config
; please adapt for your environment the ExecStart and Workingdirectory
[Unit]
Description=Redis Brain 
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
User=root
Group=root
ExecStart=/home/lieven/workspace/redisBrain/build/redisBrain -f redisBrain.json
WorkingDirectory=/home/lieven/workspace/redisBrain/src

[Install]
WantedBy=multi-user.target
